.form-section {
display: grid;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: orangered;

max-width: 500px;
height: 70vh;
margin-left: auto;
margin-right: auto


}

.main-container{
display: flex;
justify-content: center;
align-items: center;


}

.inner-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn {
display: flex;
margin: 0.5rem;
padding: 0.7rem;
margin-left: auto;
margin-right: auto;


}


@media (min-width: 280px) {
    .main-container {
        width: fit-content;
        height: fit-content;
        }
        
    }
    .inner-container {
        width: fit-content;
        height: fit-content;
    }

    span {
        width: fit-content;
        height: fit-content;
    }


