.form-section {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: lightcyan;
width: 100vw;
height: 80vh;
margin-left: auto;
margin-right: auto


}

.main-container{
display: flex;
position: absolute;
justify-content: center;
align-items: center;
flex-wrap: wrap; 

}

.submit-btn {
display: flex;
flex-direction: column;
margin: 0.5rem;
padding: 1em;
width: auto;
margin-left: auto;
margin-right: auto;
text-align: center;
}
